@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background: #1f1e1c;
    --typography: #fff;
    --primary: #9574e8;
    --form: #31302d;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 130%;
    box-sizing: border-box;
    border-collapse: collapse;
}

html, body {
    width: 100%;
    height: 100%;
    background: var(--background) !important;
}

body {
    background-color: var(--background);
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right center;
    background-blend-mode: soft-light;
    color: var(--typography);
    font-family: 'Poppins', sans-serif;
}

#app {
    padding: 2rem;
    width: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

::selection {
    background: #eee;
    color: #1f1e1c;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 2em;
    border: .36em var(--background) solid;
}

::-webkit-scrollbar-corner {
    background: none;
}

/*
*  ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
* │                                                                   │
* │                     Bootstrap Navigation Bar                      │
* │                                                                   │
*  ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
*/

.navbar {
    background: #131313 !important;
    padding: 25px 10px !important;
}

.navbar-brand {
    font-weight: 600;
    font-size: 35px !important;
}

.navbar-brand i {
    font-size: 25px;
    font-weight: 900 !important;
}a

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.toggler-icon {
    width: 30px;
    height: 3px;
    background: #e74c3c;
    display: block;
    transition: all 0.2s;
}

#navbarNav > ul > li:nth-child(n) > a {
    color: #ffffff;
    opacity: 60%;
    transition: 0.6s ease;
    margin-left: 1.5rem;
}

#navbarNav > ul > li:nth-child(n) > a:hover {
    opacity: 90%;
}

/*
*  ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
* │                                                                   │
* │                              Contact                              │
* │                                                                   │
*  ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
*/

.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none !important;
    border: var(--primary) solid 0.2rem !important;
}

.form-control {
    background: var(--form) !important;
    color: var(--form) !important;
    border: var(--form) solid 0.2rem !important;
}

.btn-orn-to {
    background: var(--primary) !important;
    color: white !important;
}

.form-select:focus,
.form-select:active {
    outline: none !important;
    box-shadow: none !important;
    border: var(--primary) solid 0.2rem !important;
}

.form-select {
    background: var(--form) !important;
    color: var(--form) !important;
    border: var(--form) solid 0.2rem !important;
}

.btn-orn-to {
    background: var(--primary) !important;
    color: white !important;
}